
.wrapper{
  display: flex;
  font-weight: 600;
  .circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.ubuntu{
  font-weight: 700;
  font-size: 4vh;
}
.title{
  font-size: 4vh;
}
.colors{
  margin-right: 3vw;
}
.background{
  padding: 1vh 2vh 1vh 2vh;
  border-radius: 20px;
  display: flex;
}
.light{
  background-color: rgb(200, 200, 200);
}
.dark{
  background-color: rgb(40, 40, 40);
}


.black {
  background-color: rgb(20, 20, 20);
}
.white{
  background-color: rgb(220, 220, 220);
}
.blue {
 background-color: rgb(30, 144, 255);
}
.blackText {
  color: rgb(20, 20, 20);
}
.whiteText{
  color: rgb(220, 220, 220);
}
.blueText {
  color: rgb(30, 144, 255);
}

.shared{
  &>*{
    height: 30px;
  }
}