.app{
  font-size: 2vh;
  display: grid;
  grid-template-columns: 10vw 77vw;
  padding: 1vh 10vw 0 5vw;
  grid-template-areas:
          "h m"
          "h m"
          "h m"
          "h m"
}
.header{
  grid-area: h;
}
.main{
  grid-area: m;
  padding-left: 3vw;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 830px) {
  .app {
    grid-template-areas:
            "h h"
            "m m"
            "m m"
            "m m";
    padding: 0;
    grid-template-columns: none;
    grid-gap: 2vw;
  }
  .main{
    padding: 0 5vw;
  }
  .header {
    margin: 0 5vw;
  }
}
@media (max-width: 830px)and(max-height: 450px) {
  .app {
    font-size: 2vw;
  }
}