.itemWhite{
  display: flex;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  padding: 0.5vh;
  cursor: pointer;
  color: rgb(20, 20, 20);
  &:hover{
    filter: invert(40%)
  }
}
.itemDark{
  display: flex;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  padding: 0.5vh;
  color: white;
  cursor: pointer;
  &:hover{
      filter: brightness(0.8);
    }
}
